#mainbody
{
height: 100%;
width:100%; 
margin:-7px 0 0 -7px ;

}
   
   
 
 
  /* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
} 
 
 
 
   
   
        
#side1
{
 width:290px;
 height:655px;
 margin: 0px;
 background-color:#0099FF;
 float:left;
    
 }
 
 #side2
{
 width:75%;
 height:100%;
 margin: 0px;
 background-color:#ffffff;
 float:left;
    
 }
 
 #guestlogo
 {
 width:150px;
 height:150px;
 margin: 240px 0px 180px 70px;
 float:none;
  }
  
  #guesthead
  {
      margin: 180px 0px 20px 93px;
   }
   #loginform
   {
    font-family:Arial;
    font-size:12px;
    color:#919191;
    width:450px;
    height:200px;
    margin: 0 auto;    
    }
    
    
    
    #mainpagesform
    {
     font-family:Arial;
    font-size:12px;
    color:#919191;
    width:700px;
    height:300px;
    margin: 50px 5px 5px 1px; 
    float:none;
        
        }
    
    
    .txtBoxLeft{ float:left; width:270; margin:5px 10px 5px 10px}
    
    #btnloginholdercenter
    {
     margin-left:180px;
     width:500px;
     float:left;
    
      }
      
      .btnloginholdercenter
    {
     margin-left:180px;
     width:500px;
     float:left;
    
      }

    
   .textbox
    {
       font-family:Arial;
    font-size:13px;
    color:#818181;
    width:225px;
    height:27px;
    margin: 0 auto; 
    border:0.1px;
    border-color:#999999;
    border-style: groove;
 
     }
     
     .textbox2
    {
       font-family:Arial;
    font-size:13px;
    color:#818181;
    width:225px;
    height:27px;
    margin: 0 auto; 
    border:0.1px;
    border-color:#999999;
    border-style: groove;
    float:right;
 
     }
     
     
     
    
    
    #Username
    {
       font-family:Arial;
    font-size:13px;
    color:#818181;
    width:275px;
    height:27px;
    margin: 0 auto; 
    border:0.1px;
    border-color:#999999;
    border-style: groove;
 
     }
     
     #Password
      {
    font-family:Arial;
    font-size:13px;
    color:#818181;
    width:275px;
    height:27px;
    margin: 0 auto; 
    border:0.1px;
    border-color:#999999;
    border-style: groove;
 
     }
     
     #btnlogin
     {
       width:30px;
    height:30px;
    margin: 0 auto; 
    float:left;
      }
       #btntxtlogin
     {
       width:100px;
    height:30px;
    margin: -3px 0 0 0px; 
    float:left;
    color:#0099FF;
    font-size:20px;
    text-decoration:bold;
      }
      
      #OptUser
     {
     font-family:Arial;
    font-size:12px;
    color:#919191;
    width:450px;
    height:25px;
    margin: 0 auto;  }
    
    
     #top_bar
     {
     font-family:Arial;
    font-size:12px;
    background-color:#003365;
    width:100%;
    height:28px;
    margin: 0 auto;  }
    
 #top_menu
     {
     font-family:Arial;
    font-size:12px;
    background-color:#32653;
    width:100%;
    height:35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
    
 #logo
 {
 width:22px;
 height:22px;
 margin: 3px 3px 0 3px;
 float:left;
 
  }
  
  #topLogo
  {
     font-family:Arial;
    font-size:13px;
    color:#ffffff;
    font-weight:bold;
    width:350px;
    margin-top:6px;
    float:left;
    }
  
  .topinfo
  {
    font-family:Arial;
    font-size:12px;
    color:#ffffff;
    width:158px;
    float:left;
    
    }
    
    #logout
    {
    width:90px;
    height:22px;
    margin: -2px 0 0 0px; 
    float:right;
       }
    
    #btnLogout
    {
     width:90px;
    height:22px;
    margin: 3px 15px 0 3px; 
    float:right;
    color:#0099FF;
    font-size:11px;
    text-decoration:bold;
     }
     
     .btnMenu
     {
    width:120px;
    height:22px;
    float:left;
    color:#0099FF;
    font-size:11px;
    text-decoration:bold;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}
     
     #top_tiny
     {
     background-color:Lime;
    width:104%;
    height:2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
     
     #mini_bar
     {
      font-family:Arial;
    font-size:12px;
    background-color:#003365;
    width:104%;
    height:38px;
    margin: 0 auto;   
      }
      
    #dashboard
    {
        font-family:Arial;
        color:Lime;
    font-size:18px;
    width:50%;
    height:38px;
    margin: 5px 15px;  
    float:left;
     }
     
     #dashboard .a
    {
      font-family:Arial;
     color:Lime;
    font-size:18px;
    width:50%;
    height:38px;
    margin: 5px 15px;  
    float:left;
     }
     
     #status
    {
    font-family:Arial;
    color:Lime;
    font-size:12px;
    width:30%;
    height:38px;
   margin: 5px 15px; 
    float:right;
     }
     
     #welcome
     {
     font-family:Arial;
    color:#666666;
    font-size:24px;
    width:64%;
    height:35px;
    margin: 5px 15px; 
    float:left;
    }
     
     #welcomenote
     {
    font-family:Arial;
    color:#666666;
    font-size:12px;
    width:65%;
    height:150px;
    margin: 5px 15px; 
    float:left;
    }
     
   #noticeboard
   {
    font-family:Arial;
    color:#666666;
    font-size:12px;
    width:25%;
    height:140px;
    margin: -20px 5px; 
    float:left;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
       }  
     
     
     .highlight
     {
       
    width:300px;
    height:38px;
    margin: 0px 15px; 
    float:left;
    font-family:Arial Rounded MT Bold;
    font-size:13px;
    text-decoration:bold;
    color:#0099FF;
    
    }
    
        
     .highmenu
     {
      font-family:Arial;
     color:#0099FF;
    font-size:12px;
    margin: 10px 15px; 
    float:left;
    }
    
    .highlogo
     {
       
    width:22px;
    height:22px;
    float:left;
    margin-left:15px;
    margin-right:15px;
    margin-top:-2px;
    }
    
    #footer1
    {
       width:100%;
       height:10px;
       margin-top:20px;
       margin-left:15px;
       float:left;
        }
    
    #footer2
    {
       width:100%;
       height:100px;
       margin-top:150px;
       margin-left:15px;
       float:left;
        }
    
    
        
    .imgfoot
    {
     width:70px;
    height:70px;
    float:left;
    margin-left:60px;
        }
    
    .footimg
    {
      width:70px;
    height:70px;
    margin-left:20px;
    margin-right:15px;
    margin-top:5px; 
    }
    
    #formpage
    {
        font-family:Arial;
    font-size:12px;
    color:#919191;
    width:650px;
    height:400px;
    margin: 0 auto; 
    float:none;
        
        }
        
   .btnforms
   {
     width:65px;
    height:25px;
    margin: 5px 0 5px 7px; 
    float:left;
    color:#0099FF;
    font-size:14px;
    text-decoration:bold; 
    border-color:#ADCBF7;
    border-style:solid;
    border-width:thin;
    background-color:#F7FBFF; 
   
       }








#primary_nav_wrap
{
    margin-top:1px;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#red;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    color:#333333;
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}